form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    margin: 1rem;
}
label{
    justify-content: flex-start;
}

.flex-box{
    display: inline-block;
}